body{
	background-color: #f8f8ff;
    -webkit-animation: fadein 4.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4.5s; /* Firefox < 16 */
        -ms-animation: fadein 4.5s; /* Internet Explorer */
         -o-animation: fadein 4.5s; /* Opera < 12.1 */
            animation: fadein 4.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
.animated-modal {
	max-width: 50em;
	max-height: 80em;
	overflow: hidden;
	transform: translateY(-50px);
	transition: all .7s;
	background-color: #f8f8ff;
}
.animated-modal p {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding-right: 2em;
	padding-left: 2em;
	color: #070707;
	font-size: 18px;
}
.animated-modal h2{
	font-family: 'Lato', sans-serif;
	padding-left: 2em;
}
.animated-modal h2,
.animated-modal p {
	transform: translateY(-50px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: .4s;
}
.ic-1{
	position: relative;
	bottom: 0.5em;
}
.ic-2{
	position: relative;
	bottom: 0.5em;
}
.ic-3{
	position: relative;
	bottom: 0.5em;
}
.icons > img{
	height: 4em;
	width: auto;
}
.img-modal > img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 5em;
}
.horizontal-list > li{
	list-style: none;
	display: inline-grid;
}
/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
	transform: translateY(0);
	opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
	transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
	transition-delay: .3s;
}
.head-title{
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 28px;
	padding-top: 1em;
}
.head-title > a{
	text-decoration: none;
	color: #303030;
	letter-spacing: 2px;
	
}
.follow{
	font-family: 'Lato', sans-serif;
}
.icon{
	padding-top: 1em;
}
.icon > a{
	color: #303030;
}
.wrapper{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
	justify-items: stretch;
	align-items: stretch;
	padding-top: 1em;
	padding-bottom: 1em;
}
.wrapper > div{
	/*padding: 1em;*/
}
.box > img{
	width: 100%;
}

.box1 > img{
	height: 31em;
	object-fit: cover;
}
.box2 > img{
	height: 15em;
	object-fit: cover;
}
.box3 > img{
	height: 15em;
	object-fit: cover;
}
.box4 > img{
	height: 15em;
	object-fit: cover;
}
.box5 > img{
	height: 15em;
	object-fit: cover;
	object-position: 50% 10%
}
.box6 > img{
	height: 31em;
	object-fit: cover;
}
.box7 > img{
	height: 15em;
	object-fit: cover;
	object-position: 50% 20%
}
.box8 > img{
	height: 31em;
	object-fit: cover;
	object-position: 50% 35%
}
.box9 > img{
	height: 15em;
	object-fit: cover;
}
.box10 > img{
	height: 15em;
	object-fit: cover;
	object-position: 50% 20%
}

.box1{
	grid-column: 1;
	grid-row: 1/3;
}
.box2{
	grid-column: 2;
	grid-row: 1;
}
.box3{
	grid-column: 3;
	grid-row: 1;
}
.box4{
	grid-column: 2/4;
	grid-row: 2;
}
.box5{
	grid-column: 1/3;
	grid-row: 3;
}
.box6{
	grid-column: 3;
	grid-row: 3/5;
}
.box7{
	grid-column: 1;
	grid-row: 4;
}
.box8{
	grid-column: 2;
	grid-row: 4/6;
}
.box9{
	grid-column: 1;
	grid-row: 5;
}
.box10{
	grid-column: 3;
	grid-row: 5;
}
.footer-text{
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #303030;
	padding: 1em;
	letter-spacing: 2px;
	font-weight: 300;
}
.footer-text a{
	text-decoration: none;
	color: #FFC5BD;
	font-weight: 300;
}
.footer-text a:hover{
	color: #a4d8f2;
}

@media screen and (min-width: 801px){
	.icons{
		position: relative;
		left: 2em;
	}
	h4{
		padding-left: 1.6em;
	}
}

@media screen and (max-width: 800px){
	.animated-modal {
		width: 100%;
		min-height: 100%;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 1em;
		border-radius: 0px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.animated-modal > p, h2{
		display: none;
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.head-title{
		padding-top: 0.5em;
	}
	.wrapper{
		grid-template-columns: 1fr 1fr;
		padding-top: 0.25em;
		grid-gap: 0.5em;
	}
	.img-modal > img{
		width: 7em;
		height: 7em;
		border-radius: 3.5em;
		margin-top: 1em;
	}
	h4{
		padding: 1em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.icons > img{
		height: 4em;
		width: auto;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.box1{
		grid-column: 1;
		grid-row: 1;
	}
	.box2{
		grid-column: 2;
		grid-row: 1;
	}
	.box3{
		grid-column: 1/3;
		grid-row: 2;
	}
	.box4{
		grid-column: 1;
		grid-row: 3;
	}
	.box5{
		grid-column: 2;
		grid-row: 3;
	}
	.box6{
		grid-column: 1/3;
		grid-row: 4;
	}
	.box7{
		grid-column: 1/3;
		grid-row: 5;
	}
	.box8{
		grid-column: 1;
		grid-row: 6;
	}
	.box9{
		grid-column: 2;
		grid-row: 6;
	}
	.box10{
		grid-column: 1/3;
		grid-row: 7;
	}
	.box1 > img{
		height: 7em;
	}
	.box2 > img{
		height: 7em;
	}
	.box3 > img{
		height: 7em;
	}
	.box4 > img{
		height: 7em;
	}
	.box5 > img{
		height: 7em;
	}
	.box6 > img{
		height: 7em;
	}
	.box7 > img{
		height: 7em;
	}
	.box8 > img{
		height: 7em;
	}
	.box9 > img{
		height: 7em;
		object-position: 50% 35%;
	}
	.box10 > img{
		height: 7em;
		object-position: 50% 20%
	}
	.footer-text{
		font-size: 15px;
		padding: 2em 1em 2em 1em;
	}
}
